<form action="/nodes" method="post" accept-charset="utf-8">
	<p>Hostname: <input type="text" name="node[host_name]" value="" id="node[host_name]" /></p>
	<p>Ip: <input type="text" name="node[ip]" value="" id="node[ip]" /></p>
	<p><input type="submit" value="Add node" /></p>
</form>
